<div class="topic-index-wrapper">
  <div class="container">
    <% if @favorite_topics.count == 0 %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3" style="margin-top:50px;">
          <p style="text-align:center;">まだお気に入りはありません。<br>気に入った投稿の<%= image_tag 'icons/heart-black.png', class: 'favorite' %>マークをクリックしてお気に入りに追加しましょう。</p>
        </div>
      </div>
    <% else%>

      <% @favorite_topics.each do |topic| %>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="topic-index-single">
              <h2 class="topic-author"><%= link_to(topic.user.name, "users/#{topic.user_id}") %></h2>
              <%= link_to topic_path(topic.id) do %>
                <%= image_tag topic.image.url %>
              <% end %>

              <% if !topic.favorite_users.include?(current_user) %>
                <%= scrTopIcon '/favorites/addfromfavorites?topic_id=' + topic.id.to_s + '&' + lstScrTopParamName, 'icons/heart-black.png', 'topic-index-icon' %>
              <% else %>
                <%= scrTopIcon '/favorites/removefromfavorites?topic_id=' + topic.id.to_s + '&' + lstScrTopParamName, 'icons/heart-pink.png', 'topic-index-icon' %>
              <% end %>
              <%= topic.favorite_users.count %>

              <%# 詳細ページへのアイコンを表示 %>
              <%= scrTopIcon '/topics/show?topic_id=' + topic.id.to_s + '&lst=favorites' + '&' + lstScrTopParamName, 'icons/comment.png', 'topic-index-icon' %>
              <%= topic.comments.count %>

              <div class="topic-box">
                <%= link_to topic_path(topic.id) do %>
                  <div class="topic-text">
                    <%= truncate_description(topic.description) %>
                  </div>
                <% end %>
                <% if current_user.admin? || topic.user.id == current_user.id %>
                  <%= link_to("/topics/#{topic.id}/edit", :class => "edit-pencil-icon") do %>
                    <%= image_tag 'icons/pencil.png' %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>
  </div>
</div>
<%# 松田追加 %>
<%= @lstScrTopTag.html_safe %>
<%= getScrTopJs %>
<%= putDoScrTopJs lstScrTopParamName %>
